extends layout.pug

block content

  nav.nav
    a(href='#', onclick='window.history.back(); return false;')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box
        h1 Erin Ramos
        p Full Stack JavaScript Developer
        p 
          | Motivated Full Stack JavaScript Developer and Marine Corps Veteran with a strong background in mathematics and a passion for problem-solving. 
          | Comprehensive experience in web development, including front-end and back-end technologies. Proven ability to develop and deploy full-stack 
          | applications using JavaScript, MongoDB, Express, React, Node.js, MERN.

        .about-bio
          h3 Education  
          p 
            em Team Treehouse, Remote
            | | Full Stack JavaScript TechDegree | September 2023 - June 2024.
          p 
            em Coursera, Remote 
            | | Project Management Courses | February 2023 - June 2023
          p 
            em Harvard University, Extension School, Cambridge, MA
            | | Coursework in Computer Science | 2018 - 2019
          p 
            em Bunker Hill Community College, Boston, MA
            | | Associate of Science in Mathematics | 2019 - 2020

          h3 Professional Experience 
          p 
            em Berkshire Hathaway Home Services 
            | Realtor | 2021 - Present 
          p(style="margin-bottom: 2.5px") 
            em Tabb Insurance Agency
            | Systems Transition Specialist | May 2022 - September 2022
          ul(style="margin-top: 0")
            li Quickly gained proficiency in Applied Epic within two weeks
            li Established a training program for insurance agents and account managers to transition to the new system
            li Demonstrated ability to learn and teach new systems efficiently
          p(style="margin-bottom: 2.5px") 
            em United States Marine Corps 
            | Maintenance Management Chief | 2013-2017
          ul(style="margin-top: 0")
            li 
              | Created and maintained an award-winning system for managing user 
              | permissions within the Oracle E-Business Suite. This system was 
              | thoroughly documented and distributed throughout the Marine Corps for
              |  use by all Using Unit Account Managers. Upon inspection by the Field 
              | Supply and Maintenance Analysis Office (FSMAO), the system received a r
              | are 100% rating, highlighting its excellence and reliability.

          h3 Additional Skills and Qualifications
            ul
              li Experience with application lifecycle methodologies (e.g., agile, iterative).
              li Strong verbal, written, interpersonal, troubleshooting, and analytical skills.
              li Basic understanding of project management principles through Coursera coursework.

      .skills-contact-box.box
        h6 Certifications 
        ul
          li Full Stack JavaScript TechDegree | Team Treehouse

        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li npm
          li Fetch and Public APIs
          li RESTful APIs
          li MERN Stack
          li Node.js
          li React
          li Express
          li MongoDB 
          li SQL 
          li VS Code
          li Accessibility

        h6 Contact Info
        ul
          li (770) 630-7122
          li erinramos415@gmail.com

        a(href="static/pdfs/Erin-Ramos-Cox-SE.pdf" download="Erin-Ramos-Cox-SE.pdf")
          button Download Resume
        a.btn-link(href='https://github.com/Erin-Ramos') GitHub

  nav.nav
    a(href='/')
     
