extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Erin Ramos

        p Full Stack JavaScript Developer
        p 
          | Motivated Full Stack JavaScript Developer and Marine Corps Veteran with a strong background in mathematics and a passion for problem-solving. 
          | Comprehensive experience in web development, including front-end and back-end technologies. Proven ability to develop and deploy full-stack 
          | applications using JavaScript, MongoDB, Express, React, Node.js, MERN.

        .about-bio
    
          h3 Education  
          p 
            em Full Stack JavaScript TechDegree, Remote
            | | Team Treehouse | completed June 2024.
          p 
            em Harvard University, Extension School, Cambridge, MA
            | | Coursework in Computer Science | 2018 - 2019
          p 
            em Bunker Hill Community College, Boston, MA
            | | Associate of Science in Mathematics | 2019 - 2020


          h3 Professional Experience 
          p 
            em Berkshire Hathaway Home Services 
            | Realtor | 2021 - Present 
          ul 
            li Assisted clients in buying and selling properties.
            li Utilized strong mathematical skills to analyze market trends and property values.
            li Developed and maintained professional relationships with clients and colleagues

          p 
            em United States Marine Corps 
            | Maintenance Management Chief | 2013-2017
          ul 
            li Served as a Marine, demonstrating discipline, teamwork, and leadership.
            li Developed problem-solving skills and adaptability through various assignments and training.
            li Created and maintained an award winning system for managing user permissions within an Oracle Data System. This system was then documented and distributed throughout the Marine Corps for use by all Using Unit Account Managers.

      .skills-contact-box.box

        h6 Certifications 
        ul 
          li FSJS TechDegree, Team Treehouse

        h6 Skills
        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li npm
          li Fetch and Public APIs
          li RESTful APIs
          li Node.js
          li Express
          li MongoDB 
          li SQL 
          li VS Code
          li Accessibility
      

        h6 Contact Info
        ul
          li (770) 630-7122
          li erinramos415@gmail.com

        a.btn-link(href='https://github.com/Erin-Ramos') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back