extends layout.pug

block content

  nav.nav
    a(href='/')
      span &larr;
      |  Back

  article.portfolio-about
    .inner-wrapper.flex-row-wrap.two-col
      .about-intro-box.box

        h1 Erin Ramos

        p Full Stack JavaScript Developer

        .about-bio
          p Hi there! I'm Erin, a Full Stack JavaScript Web Developer passionate about crafting seamless digital experiences. With expertise in both frontend and backend technologies, I specialize in bringing ideas to life through clean, efficient code. Let's collaborate to turn your vision into a dynamic reality on the web. Excited to connect and explore opportunities together!


      .skills-contact-box.box
        h6 Skills

        ul
          li HTML
          li CSS
          li JavaScript
          li Git and GitHub
          li VS Code
          li Accessibility
          li OOP
          li Fetch and Public APIs
          li Node.js
          li Express
          li Pug

        h6 Contact Info

        ul
          li (123) 456-7890
          li contactMe@gmail.com

        a.btn-link(href='https://github.com/Erin-Ramos') GitHub

    nav.nav
      a(href='/')
        span &larr;
        |  Back