extends layout.pug

block content

  article.portfolio-intro 

      h1 Oops! That page doesn't exist...

  nav.nav
    a(href='#', onclick='window.history.back(); return false;')
      span &larr;
      |  Back