extends layout.pug

block content

  article.portfolio-intro

    h1 Welcome!
    p(style="padding-bottom: 2.5px")
      | Thanks for visiting my portfolio! 
    p(style="padding-top: 0")
      | I'm an entry-level full-stack 
      | developer eager to contribute to a dynamic team. 
      | Check out my projects below and feel free to 
      em contact me 
      | with any job opportunities.

  article.portfolio-project-thumbs
    .projects-box.box.grid

      each project in projects

        .cell
          a(href=`/projects/${project.id}`)
            img.thumbnail(src=`${project.image_urls[0]}`, alt='')
            h5= `${project.project_name}`

